.header-bg{
    display: block;
    /* padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem; */
    text-align: center;
    /* vertical-align: left; */
    /* margin: auto; */
    /* margin: 0 -10%; */
}
.button {
    display: block;
    background-color: rgb(240, 120, 99);
     padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out; 
  }

  .button:active,
  .button:focus,
  .button:hover {
    background-color: rgb(191, 113, 113);
  }