<br>
<br>
<br>
<head>
  <link rel="stylesheet" href="view/assets/css/style2.css">
</head>
<div id="cards-list31">
<div id="top3">  
    <h2>Categories de marcas</h2>
</div>
</div>
<br>
<br>
<div class="glider-contain">
    <div class="carousel__list">
  
    </div>
  
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


<div id="cards-list">
  <div id="top">  
        <h2>Categories Cars</h2>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div id="cards-list2">
    <div id="top">  
          <h2>Type Cars</h2>
      </div>
  </div>
  <!-- coches mas vistos -->
  <div id="cards-list3">
    <div id="top3">  
        <h2>coches mas vistos</h2>
    </div>
    </div>
    <br>
    <br>
    <!-- <div class="glider-contain">
        <div class="coches_mas_visitados"></div>
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div> -->



    <!-- <main class="main">
        <div class="container"> -->
          <!-- <div class="glider-contain"> -->
            <div class="coches_mas_visitados">
             
            </div>
            <!-- <span role="button" aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></span>
            <span role="button" aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></span>
            <span role="tablist" class="dots"></span> -->
          <!-- </div> -->
        <!-- </div>
      </main>       -->
     <!-- <div id="featured"></div> -->
    
      <div id="featured"></div>
     
  
    <!-- <table>
      <th class="">
        <td class="">1</td>
      </th>
    </table> -->
      <br>
      <br>
      <br>
      <br>
      <br>
