<html>
<body>
    <br>
    <br>
    <br>
    <br>
   <div id="content"></div>
   
<div class="filters" ></div>
<div class="ordenar"></div>
   <div class="highlight"></div>
   <!-- details-car -->
   <div id="details-shop">
    <div class="glider-contain">
      <!-- <div class="date_img_dentro"> -->
        <div class="date_img"></div>
      <!-- </div> -->
        <!-- <div class="results"></div> -->
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
        <!-- <div id="dots"></div> -->
    </div>
    <div class="date_car" id="container-date-img"> </div>
   
    <br>
    <br>
    <br>
    <div class="results"></div>
    <br>
    <br>
    <br>
  </div>
   
    <!-- <div id="details-shop">
      <div class="date_img" id="container-date-img"> </div>
      <div class="date_car" id="container-date-img"> </div>
      <div class="results">

      </div>
  </div> -->
    <div id='map' style='width: 1200px; height: 500px;'></div>
   <div id="containerShop" id="content_shop_cars"></div>
   <div id="pagination"></div>
   <!-- <div id="pagination"></div> -->
</body>
</html>

<!-- cartas para mostrar los coches -->
<!-- 
<div class="card">
    <img src="ruta/imagen-coche.jpg" alt="Imagen del coche">
    <h2>Nombre del coche</h2>
    <ul>
      <li>Año: 2022</li>
      <li>Marca: Toyota</li>
      <li>Modelo: Camry</li>
      <li>Precio: $30,000</li>
    </ul>
  </div> -->
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>



  <!-- <section class="more_info_list"> -->
    <!-- <article class="title_content"> -->
      <!-- <div class="results"></div> -->
    <!-- </article> -->
    <!-- <article class="card12">
        <header class="card12__title">
            <h3>Hello World</h3>
        </header>
        <figure class="card12__thumbnail">
            <img src="http://placekitten.com/700/287">
        </figure>
        <main class="card12__description">
            Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
        </main>
        <a href="#" class="button">Call to Action</a>

    </article> -->
  <!-- </section> -->